@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* line 30, ../sass/ss.scss */
.snow {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* line 37, ../sass/ss.scss */
.flake {
  position: absolute;
  border-radius: 50%;
  -moz-transform: translateY(0) rotateX(0) rotateY(0);
  -ms-transform: translateY(0) rotateX(0) rotateY(0);
  -webkit-transform: translateY(0) rotateX(0) rotateY(0);
  transform: translateY(0) rotateX(0) rotateY(0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -moz-linear-gradient(315deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(1) {
  width: 7px;
  height: 7px;
  top: -322px;
  left: 57%;
  opacity: 0.75;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  -moz-animation: 63s flakes linear infinite;
  -o-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(2) {
  width: 15px;
  height: 15px;
  top: -424px;
  left: 15%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 39s flakes linear infinite;
  -moz-animation: 39s flakes linear infinite;
  -o-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(3) {
  width: 14px;
  height: 14px;
  top: -605px;
  left: 92%;
  opacity: 0.9;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(4) {
  width: 12px;
  height: 12px;
  top: -538px;
  left: 43%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 39s flakes linear infinite;
  -moz-animation: 39s flakes linear infinite;
  -o-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(5) {
  width: 13px;
  height: 13px;
  top: -691px;
  left: 99%;
  opacity: 0.79;
  filter: blur(4px);
  -webkit-animation: 54s flakes linear infinite;
  -moz-animation: 54s flakes linear infinite;
  -o-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(6) {
  width: 14px;
  height: 14px;
  top: -316px;
  left: 71%;
  opacity: 0.66;
  filter: blur(4px);
  -webkit-animation: 57s flakes linear infinite;
  -moz-animation: 57s flakes linear infinite;
  -o-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(7) {
  width: 12px;
  height: 12px;
  top: -514px;
  left: 68%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(8) {
  width: 11px;
  height: 11px;
  top: -149px;
  left: 100%;
  opacity: 0.87;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  -moz-animation: 70s flakes linear infinite;
  -o-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(9) {
  width: 17px;
  height: 17px;
  top: -353px;
  left: 82%;
  opacity: 0.86;
  filter: blur(3px);
  -webkit-animation: 20s flakes linear infinite;
  -moz-animation: 20s flakes linear infinite;
  -o-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

/* line 73, ../sass/ss.scss */
.flake:nth-child(10) {
  width: 15px;
  height: 15px;
  top: -406px;
  left: 98%;
  opacity: 0.57;
  filter: blur(4px);
  -webkit-animation: 30s flakes linear infinite;
  -moz-animation: 30s flakes linear infinite;
  -o-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

@keyframes flakes {
  100% {
    -moz-transform: translateY(10000px) rotateX(38deg) rotateY(19deg);
    -ms-transform: translateY(10000px) rotateX(38deg) rotateY(19deg);
    -webkit-transform: translateY(10000px) rotateX(38deg) rotateY(19deg);
    transform: translateY(10000px) rotateX(38deg) rotateY(19deg);
    opacity: 0;
  }
}
/* line 92, ../sass/ss.scss */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
